<h4 class="header-title m-t-0 m-b-30">Create Menu</h4>
<section class="content">
    <div class="box box-warning">
        <div class="box-body">
            <form novalidate="novalidate" role="form">
                <div class="box-body">
                    <div class="row">
                        <div ng-repeat="f in fields | orderBy :'order'" ng-switch on="f.type">
                            <input ng-switch-when="hidden" type="hidden" id="{{f.field}}" ng-model="record[f.field]" />
                            <div class="form-group col-md-6" ng-switch-when="date">
                                <label class="control-label">{{f.name}} (*)</label>
                                <input type="text" class="form-control" name="{{f.field}}" id="{{f.field}}" ng-model="record[f.field]" dateselect ng-readonly="f.readonly === true" />
                            </div>
                            <div class="form-group col-md-6" ng-switch-when="datetime">
                                <label class="control-label">{{f.name}}</label>
                                <input type="text" class="form-control" name="{{f.field}}" id="{{f.field}}" ng-model="record[f.field]" datetimeselect ng-readonly="f.readonly === true" />
                            </div>
                            <div class="bootstrap-timepicker col-md-6" ng-switch-when="time">
                                <div class="form-group">
                                    <label class="control-label">{{f.name}}</label>
                                    <input type="text" class="form-control" name="{{f.field}}" id="{{f.field}}" ng-model="record[f.field]" timeselect ng-readonly="f.readonly === true" />
                                </div>
                            </div>
                            <div class="bootstrap-timepicker col-md-6" ng-switch-when="number">
                                <div class="form-group">
                                    <label class="control-label">{{f.name}}</label>
                                    <input type="number" class="form-control" name="{{f.field}}" id="{{f.field}}" ng-model="record[f.field]" numberselect ng-readonly="f.readonly === true" />
                                </div>
                            </div>
                            <div class="form-group col-md-6" ng-switch-when="select">
                                <label class="control-label">{{f.name}}</label>
                                <select class="form-control" name="{{f.field}}" id="{{f.field}}" ng-options="option as option.DisplayText for option in options[f.field] track by option.Value" ng-model="record[f.field]"></select>
                            </div>
                            <div class="form-group col-md-12" ng-switch-when="select2">
                                <label for="{{f.field}}" class="control-label">{{f.name}}</label>
                                <select ui-select2 class="form-control" name="{{f.field}}" id="{{f.field}}" ng-model="record[f.field]">
                                    <option ng-repeat="item in options[f.field]" value="{{item.Value}}">{{item.DisplayText}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6" ng-switch-when="upload">
                                <label class="control-label">{{f.name}}</label>
                                <div class="input-group">
                                    <input type="text" id="{{f.field}}" name="{{f.field}}" ng-model="record[f.field]" class="form-control" placeholder="Link" readonly>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn waves-effect waves-light btn-primary" ngf-select="uploadFiles($files, $invalidFiles)"
                                                accept="image/*">
                                            Select Files
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-md-6" ng-switch-when="password">
                                <label class="control-label">{{f.name}}</label>
                                <input type="password" id="{{f.field}}" ng-model="record[f.field]" class="form-control" ng-disabled="f.disabled === true" ng-readonly="f.readonly === true" />
                            </div>
                            <div class="form-group col-md-12" ng-switch-when="textarea">
                                <label class="control-label">{{f.name}}</label>
                                <textarea class="form-control" rows="3" id="{{f.field}}" ng-model="record[f.field]" placeholder=""></textarea>
                            </div>
                            <div class="form-group col-md-6" ng-switch-default>
                                <label class="control-label">{{f.name}}</label>
                                <input type="text" class="form-control" id="{{f.field}}" ng-model="record[f.field]" placeholder="" ng-readonly="f.readonly === true" />
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->

                <div class="box-footer">
                    <a ng-click="back()" class="btn btn-default">Back</a>
                    <a ng-click="ok()" class="btn btn-primary">Add</a>
                </div>
            </form>
        </div>
    </div>
</section>
