<div class="content">
    <div class="container">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            Bạn không có quyền truy cập trang này. <a href="javascript:history.back()" class="alert-link">Quay lại</a>.
        </div>
    </div>
</div>
